<footer>
    <div id="ftcontainer">
        <div id="logo">
            <img src="{{ "images/icon.png" | relURL }}" alt="Save the Shark logo" height="24em" width="24em">
            <h1 class="flogo">SAVE THE SHARK</h1>
            <p>No-profit Organisation</p>
            <a href="{{ "donate" | relURL }}" class="ftbtn">Donate now</a>
        </div>
        <div class="links">
            <div class="foot longer">
                <h5>About us</h5> <br>
                <a href="#" class="ftlink">Who are we?</a><br>
                <a href="#" class="ftlink">Join us</a><br>
                <a href="#" class="ftlink">Projects and missions</a>
            </div>
            <div class="foot">
                <h5>Need help?</h5> <br>
                <a href="#" class="ftlink">FAQ's</a> <br>
                <a href="#" class="ftlink">Support</a>
            </div>
            <div class="foot form longer">
                <h5>Contacts and social</h5> <br>
                <p>info@savetheshark.com</p>
                <div class="social">
                    <iconify-icon icon="mdi:instagram" style="color: #1b1c1e;" width="24" height="24"></iconify-icon>
                    <iconify-icon icon="ri:facebook-fill" style="color: #1b1c1e;" width="24" height="24"></iconify-icon>
                    <iconify-icon icon="ic:baseline-tiktok" style="color: #1b1c1e;" width="24" height="24"></iconify-icon>
                </div>
            </div>
        </div>
    </div>
    <p class="cr">© 2024 Save the Shark. All rights reserved. Save the Shark is a registered non-profit organization. Contributions to Save 
        the Shark are tax-deductible to the extent permitted by law. The information on this website is for general informational 
        purposes only and does not constitute professional advice. By using this website, you agree to our Terms of Service and 
        Privacy Policy.</p>
</footer>