{{ define "main" }}
        <img src="{{ "images/wave-haikei3-cropped.svg" | relURL }}" class="svg" width= "100%" alt="">
        <script src="https://kit.fontawesome.com/cc3bfee917.js" crossorigin="anonymous"></script>
        <section id="store">
            <div class="text">
                <h3>Support us, enjoy your gadgets!</h3>
                <p>At our little store, your purchase goes beyond acquiring quality merchandise, it fuels our initiatives. All profits 
                    generated are dedicated to supporting our projects and mission, ensuring a meaningful impact on the preservation of 
                    marine life and the well-being of our oceans. Thank you for being a part of our commitment to a sustainable future.</p>
            </div>
            <div class="container1">
                <a href="#"><div class="product">
                    <div class="prodimg">
                        <img src="{{ "images/mug.png" | relURL }}" alt="cup" width="80%" >
                    </div>
                    <p>Shuh Duh fuh cup</p>
                    <p>$12.50</p>
                </div></a>
                <a href="#"><div class="product">
                    <div class="prodimg">
                        <img src="{{ "images/mugs.png" | relURL }}" alt="5 mugs" width="80%" >
                    </div>
                    <p>5 Baby Shark mugs set</p>
                    <p>$41.00</p>
                </div></a>
                <a href="#"><div class="product">
                    <div class="prodimg">
                        <img src="{{ "images/plush2.png" | relURL }}" alt="shark plush" width="85%" >
                    </div>
                    <p>Great White Shark plush 24inch</p>
                    <p>$24.00</p>
                </div></a>
                <a href="#"><div class="product">
                    <div class="prodimg">
                        <img src="{{ "images/sticker.png" | relURL }}" alt="30 stickers" width="70%" >
                    </div>
                    <p>30 giant shark stickers set</p>
                    <p>$27.90</p>
                </div></a>
                <a href="#"><div class="product">
                    <div class="prodimg">
                        <img src="{{ "images/ststshirt.png" | relURL }}" alt="Save the Shark t-shirt" width="75%" >
                    </div>
                    <p>White StS t-shirt - Unisex</p>
                    <p>$12.00</p>
                </div></a>
                <a href="#"><div class="product">
                    <div class="prodimg">
                        <img src="{{ "images/tshirt2.png" | relURL }}" alt="black t-shirt" width="80%">
                    </div>
                    <p>Black sharks t-shirt - 12/14y</p>
                    <p>$15.00</p>
                </div></a>
                <a href="#"><div class="product">
                    <div class="prodimg">
                        <img src="{{ "images/tshirt3.png" | relURL }}" alt="white t-shirt" width="75%">
                    </div>
                    <p>Whale Shark t-shirt - unisex</p>
                    <p>$16.50</p>
                </div></a>
                <a href="#"><div class="product">
                    <div class="prodimg">
                        <img src="{{ "images/tshirtkids.png" | relURL }}" alt="pink t-shirt" width="80%">
                    </div>
                    <p>Hammerhead Shark t-shirt - 6/8y</p>
                    <p>$10.50</p>
                </div></a>
                <a href="#"><div class="product">
                    <div class="prodimg">
                        <img src="{{ "images/cushion.png" | relURL }}" alt="cushion cover" width="80%">
                    </div>
                    <p>Shark cushion cover</p>
                    <p>$11.50</p>
                </div></a>
                <a href="#"><div class="product">
                    <div class="prodimg">
                        <img src="{{ "images/flipflop.png" | relURL }}" alt="Whale flip flops" width="70%">
                    </div>
                    <p>Whale Shark flip flops</p>
                    <p>$13.00</p>
                </div></a>
                <a href="#"><div class="product">
                    <div class="prodimg">
                        <img src="{{ "images/lego.png" | relURL }}" alt="lego city" width="75%">
                    </div>
                    <p>Lego City - Shark</p>
                    <p>$7.90</p>
                </div></a>
                <a href="#"><div class="product">
                    <div class="prodimg">
                        <img src="{{ "images/lego2.png" | relURL }}" alt="lego shark" width="80%">
                    </div>
                    <p>Building bricks shark</p>
                    <p>$12.00</p>
                </div></a>
            </div>
        </section>
{{ end }}