{{ define "main" }}
<img src="{{ "images/svgwhite1.svg" | relURL }}" class="svg" alt="">
        <main>
            
            <div id="lowheader">
                <div class="calling">
                    <h2>The Ocean needs You!</h2>
                    <a href="donate.html" class="btn">Donate Now</a>
                </div>
            </div>
            <section id="about">
                <div class="flex-cont">
                    <div class="text">
                        <h3>Our Mission</h3>
                        <p>Since 2017 Save the Shark is a non-profit organization dedicated to the preservation 
                            of the sea and marine fauna. Our mission is to conserve marine ecosystems and 
                            protect sharks, crucial creatures for the balance of the oceans.</p>
                        <p>We conduct in-depth research on shark life and marine ecosystems. We implement 
                            educational programs to raise public awareness about the importance of protecting 
                            the oceans. We collaborate with scientific institutions, governments, and other 
                            organizations to develop effective conservation policies.</p>
                        <h3 class="del">Our Goals</h3>
                        <p>Our main goal is to ensure the long-term survival of sharks and the health of the 
                            oceans. We aim to reduce marine pollution, preserve critical marine habitats, and 
                            promote sustainable fishing practices.</p>
                    </div>
                    <img src="{{ "images/pollution.jpg" | relURL }}" alt="sea pollution">
                </div>
                <h3 class="del center">Why Sharks?</h3>
                <p>Sharks are essential for maintaining balance in marine ecosystems. As top predators, 
                    they regulate the population of other marine species, contributing to biodiversity. 
                    Their preservation is crucial for the overall well-being of the oceans. If you want to 
                    learn more about them, visit our <a href="discover.html"><strong>discover</strong></a> section</p>
                <div class="data-cont">
                    <div class="data">
                        <span class="numb">1/3</span> <br>
                        <p>open-ocean shark species are currently categorized as threatened with extinction</p>
                    </div>
                    <div class="data">
                        <span class="numb">100</span> <br>
                        <p>million sharks are killed annually in commercial fisheries</p>
                    </div>
                    <div class="data">
                        <span class="numb">90%</span> <br>
                        <p>of shark populations have declined in certain regions</p>
                    </div>
                </div>
                <div class="flex-cont">
                    <img src="{{ "images/volunteers.jpg" | relURL }}" alt="volunteers">
                    <div>
                        <h3>Our Progress</h3>
                        <ul>
                            <li><span class="word">2015-2016</span> : laid the foundation, clarified the mission, and initiated early community building efforts.</li> 
                            <li><span class="word">2017</span> : established a strategic partnership with the environmental research institute of the University of California, 
                                setting the stage for collaborative projects and data sharing.</li>
                            <li><span class="word">2018</span> : launched the first public awareness campaign, significantly increasing visibility and engagement within 
                                local communities.</li>
                            <li><span class="word">2019</span> : overcame funding challenges, successfully launched an impactful educational program with a local school</li>
                            <li><span class="word">2021-2022</span> : launched a successful grassroots online campaign, doubling our community size. Celebrated a 
                                significant breakthrough in research findings, leading to the inception of "Project Deep Insight," focused on 
                                understanding and preserving deep-sea ecosystems.</li>
                            <li><span class="word">2023</span> : resumed and expanded volunteer programs, with a spotlight on "Project Ripple Effect," a coastal 
                                cleanup initiative. Ongoing projects, including "Deep Insight," continue to make strides despite 
                                challenges, building a resilient foundation for the future.</li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
{{ end }}